/* --------------------------------------------------------------

   print.css
   * Gives you some sensible styles for printing pages.
   * See Readme file in this directory for further instructions.

   Some additions you'll want to make, customized to your markup:
   #header, #footer, #navigation { display:none; }

-------------------------------------------------------------- */

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color:#000;
  background: none;
  font-size: 10pt;
}


/* Layout
-------------------------------------------------------------- */

.container {
  background: none;
}

hr {
  background:#ccc;
  color:#ccc;
  width:100%;
  height:2px;
  margin:2em 0;
  padding:0;
  border:none;
}
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


/* Text
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-family: Arial, Helvetica, sans-serif; }
code { font:.9em "Courier New", Monaco, Courier, monospace; }

a, a img { border:none; }

blockquote {
  margin:1.5em;
  padding:1em;
  font-style:italic;
  font-size:.9em;
}

#header, #footer, #footerNav, a, #menu, ul, #breadcumbs { display: none; }

/*table*/
table {  border-collapse: collapse; width: 700px; margin: 5px auto;}
th, td { text-align:center; padding: 8px;}
table .left { text-align:left;}
table .right { text-align:right;}
table .button {display: block; float: left; margin: 0 4px;} 
td.actions { padding-left: 35px;}
tr.bottom { border: none;}
tr.bottom td.right { border-bottom: 1px dotted #000;}
td strong.total {font-size: 14px;}
td.last { border: none; text-align: right;}
table, td	 {border: 1px solid #000;}
td.right	{text-align: right;}

.payment_total { background: url(../img/bg_payment_total.png) repeat-x bottom; border: 1px solid #000; margin-top: 10px;}
.payment_total .total-inner { background: url(../img/bg_total_inner.png) no-repeat 50%; height:74px; border: 1px solid #fff; overflow: hidden;}

#sidebar dl { line-height: 18px; margin-bottom: 5px;}
#sidebar dt {float: left; width: 55px;}
#sidebar dd { margin-left: 55px; font-weight: bold;}

.payment_total dl 	{ padding: 15px 30px; overflow: hidden; font-size: 14px; line-height: 22px; width: 230px; float: left;}
.payment_total dt	{float: left; width: 100px; }
.payment_total dl.total {font-size: 18px; float: right; line-height: 24px; padding-top: 25px; }
/* Links
-------------------------------------------------------------- */

a:link, a:visited {
  background: transparent;
  font-weight:700;
  text-decoration: underline;
}

a:link:after, a:visited:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

