 
<html>
<head>
<title>::: Design Creations - Levering Bedste Kvalitet Design | Logo design, Visitkort Design, Brevpapir Design, Brochure Design :::</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/window_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="logo"><img src="img/dc_logo.png" alt="Design creations" /></div>
        <div class="slogan"><img src="img/slogan.png" alt="Levering Bedste Kvalitet Design" /></div>
        <div class="content-ctn">
            <strong>Hvad er "hemmeligheden" bag succesen med vores</strong>
         <strong class="special">PLATINUM POWER PACKAGE ?</strong> <br> <br>
          Først og fremmest vil vi gerne fortælle dig, hvad VI mener med <strong class="special">PLATINUM</strong> 
          : 
          <p>For os repræsenterer <strong class="special">PLATINUM</strong> den højeste værdi, man kan opnå ved køb
           af et produkt fra et hvilket som helst firma. Det kan sammenlignes med at: </p>
    
          <p>- bo i <strong>præsidentsuiten</strong> på et femstjernet hotel 
            <br>
            - flyve i <strong>privat jet </strong>i stedet for på businessclass<br>
            - have sin egen <strong>private yacht </strong> i stedet for at tage på luksuscruise<br> 
            - <strong>"you name it",</strong> <strong class="special">PLATINUM</strong>, repræsenterer det ypperste, du kan få som forbruger.
             Og vores logoservice er ingen undtagelse!</p>
    
          <p>Se her,<strong> hvad vi har inkluderet</strong> i vores 
          </p>
          <p><strong class="special">PLATINUM POWER PACKAGE</strong></p>
          <p><strong class="special">1) PLATINUM POWER VÆRDI </strong></p>
          <p>For <strong>alle!</strong> Vi har kun én pakke (mens vores konkurrenter bruger "standard", "silver", "gold" osv.), 
          og vi giver dig deres topprodukt til en pris, der er <strong>lavere</strong> 
            end deres startpakke.</p>
    
          <p><strong class="special">2) PLATINUM POWER KVALITET </strong></p>
          <p>Vi bruger kun <strong>seniordesignere</strong> med fremragende referencer og erfaring. 
          De arbejder <strong>hurtigt</strong>, <strong>effektivt</strong> 
            og <strong>innovativt</strong>. Deres lange erfaring giver vores logoer det specielle 
            professionelle touch, som en begynder eller amatør, logosoftware eller gør det 
            selv-logohjemmesider ikke kan matche.</p>
          <p><strong class="special">3) PLATINUM POWER UDVALG  </strong></p>
    
          <p>Du får <strong>10 unikke logoforslag</strong> at vælge imellem. De første 3 er klar i morgen*. 
          Hvis du f.eks. kan lide et af de første 3 logoer, kan vi skabe endnu flere unikke logoer baseret 
          på netop denne designpræference, så du får et <strong>overvældende</strong> udvalg af logoer at vælge imellem.</p>
          <p><br>
            <strong class="special">4) PLATINUM POWER SERVICE </strong></p>
          <p>Levering <strong>næste dag, hurtig implementering </strong>af dine ændringer. 
          Ingen forsinkelser samt fuld indsats for at forstå alle dine behov fra start til slut.</p>
    
          <p><strong class="special">5) PLATINUM POWER SUPPORT</strong></p>
          <p>Vi hjælper dig med at skaffe alle filtyper, du har brug for, giver dig råd om, hvordan 
          du bruger et logo korrekt på din hjemmeside, i præsentationer, Word-dokumenter, til 
          professionelt print – kort sagt: på alle de måder, du har brug for os (også efter købet), 
          giver vi dig <strong>gratis</strong> assistance.</p> 
        </div>
        <a href="javascript:;close ()" class="">Close Window</a>
    </div>
</body>
</html>

